<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/assistir.css">
    <link rel="stylesheet" href="../../css/styleall.css">
    <title>Download</title>
</head>
<body>
    
    <div class="formulario">
        <h3>Download</h3>
     <ul>
        <li><a href="index.html" >Home</a></li>
        <li><a href="download.html" >Downloads</a></li>
        <li><a href="sobre.html"  >Sobre Nós</a></li>
        <li><a href="baixados.html" >Baixados</a></li>
        <li><a href="assistir.html" class="btn-active">vizualizar</a></li>
    
        <li><a href="login.html">Sair</a></li>
     </ul>


    </div>
  <div class="body">
    <div class="info">
        <p>Comece vizualizar seus arquivos Baixados por secções</p><br>
        <h3>SEUS ARQUIVOS BAIXADOS NO FORMATO MP3</h3>
    </div>
    <div class="formatos">
   
        <table>
            <thead>
                <th>Nome do arquivo</th>
                <th>Formato do arquivo</th>
                <th>Data de Download</th>
                <th>Autor(es)</th>
                <th>Opções</th>
            </thead>
     
        <tbody>
            <tr>
                
                    <td >Sonhos com Precos</td>
                    <td>MP3</td>
                    <td>15-04-2024</td>
                    <td>Prodigio feat Abdiel e Thanya</td>
                <td><audio src="../../assets/musicas/y2mate.com - Prodígio  Sonhos Com Preço Feat Abdiel  Thanya.mp3" id="arquivo" controls></audio></td>

            </tr>
            <tr>
             
                <td>Não Acordes</td>
                <td>MP3</td>
                <td>15-04-2024</td>
                <td>Prodigio</td>
            <td><audio src="../../assets/musicas/Continue sonhando-prodigio.mp3.mp3"  id="audio1" controls></audio></td>

            </tr>
            <tr>
                <td>Mãe Grande</td>
                <td>MP3</td>
                <td>12-02-2020</td>
                <td>Matias Damasio & Filho do Zua</td>
                <td><audio src="../../assets/musicas/y2mate.com - Matias Damásio   Mãe Grande ft Puto Português  Filho do Zua   Letra.mp3" id="audio2"  controls></audio></td>
            </tr>
            <tr>
                <td>Jivunda</td>
                <td>MP3</td>
                <td>12-02-2022</td>
                <td>DaBeleza & Filho do Zua</td>
                <td><audio src="../..//assets/musicas/Dabeleza feat Filho do zua - Jivunda (Vídeo Oficial)_2.mp4" id="audio3" controls></audio></td>

            </tr>
            <tr>
                <td>Tradição Perfeita</td>
                <td>MP3</td>
                <td>14-08-2021</td>
                <td>Filho do Zua</td>
                <td><audio src="../../assets/musicas/Filho do Zua - Tradição Perfeita.mp4" id="audio4" controls></audio></td>

            </tr>
      
    
        </tbody>
    </table>
  
    </div>
    <div class="watch">
        <h3>SEUS ARQUIVOS BAIXADOS NO FORMATO MP4</h3>
       
        <table>
            <thead>
                <th>Nome do arquivo</th>
                <th>Tipo de Arquivo</th>
                <th>Data de Download</th>
                <th>Autor(es)</th>
                <th>Opções</th>
            </thead>
     
        <tbody>
            <tr>
                
                    <td>You are not alone</td>
                    <td>MP4</td>
                    <td>12-02-2020</td>
                    <td>Michael Jackson</td>
                <td><video src="../../assets/videos/Michael Jackson - You Are Not Alone (Tradução_Legendado).mp4" id="video1"  controls></video></td>

            </tr>
        </tbody>
        </table>

    </div>
   



    <div class="header">
        <p>Todos Direitos Reservados pela DEV-WEB 2024</p>
    </div>

  </div>
</body>
</html>