<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/baixados.css">
    <link rel="stylesheet" href="../../css/styleall.css">
    <title>Download</title>
</head>
<body>
    
    <div class="formulario">
        <h3>Download</h3>
     <ul>
        <li><a href="index.html" >Home</a></li>
        <li><a href="download.html" >Downloads</a></li>
        <li><a href="sobre.html"  >Sobre Nós</a></li>
        <li><a href="baixados.html" class="btn-active">Baixados</a></li>
        <li><a href="assistir.html" >vizualizar</a></li>
       
        <li><a href="login.html">Sair</a></li>
     </ul>


    </div>
  <div class="body">
    <div class="info">
        <p>Encontre todos arquivos  descarregados  no seu dispositivo  apartir da nossa website <i><a href="download.html">Download</a></i> aqui</p><br>
        <h3>SEUS ARQUIVOS BAIXADOS</h3>
    </div>
    <div class="formatos">
   
        <table>
            <thead>
                <th>Nome do arquivo</th>
                <th>Formato do arquivo</th>
                <th>Data de Download</th>
                <th>Autor(es)</th>
            </thead>
     
        <tbody>
            <tr>
                <td>Jivunda</td>
                <td>MP3</td>
                <td>12-02-2022</td>
                <td>DaBeleza & Filho do Zua</td>
            </tr>
            <tr>
                <td>Agora</td>
                <td>MP3</td>
                <td>12-06-2024</td>
                <td>Prodigio</td>
            </tr>
            <tr>
                <td>Tradição Perfeita</td>
                <td>MP3</td>
                <td>14-08-2021</td>
                <td>Filho do Zua</td>
            </tr>
            <tr>
                <td>You are not alone</td>
                <td>MP4</td>
                <td>12-02-2020</td>
                <td>Michael Jackson</td>

            </tr>
            <tr>
                <td>Mãe Grande</td>
                <td>MP3</td>
                <td>12-02-2020</td>
                <td>Matias Damasio & Filho do Zua</td>

            </tr>
    
        </tbody>
    </table>
  
    </div>
    <div class="watch">
        <h3>PARA VIZUALIZARES OS SEUS ARQUIVOS CLICK EM <a href="assistir.html">Assistir</a></h3>
        <i><p>Poderás vizualizar seus conteudos audiovisual de formas confortavél e sequencial</p></i> 
    </div>

    <div class="header">
        <p>Todos Direitos Reservados pela DEV-WEB 2024</p>
    </div>
  </div>
</body>
</html>