<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/sobre.css">
    <link rel="stylesheet" href="../../css/styleall.css">
    <title>Download</title>
</head>
<body>
    
    <div class="formulario">
        <h3>Download</h3>
     <ul>
        <li><a href="index.html" >Home</a></li>
        <li><a href="download.html">Downloads</a></li>
        <li><a href="sobre.html" class="btn-active">Sobre Nós</a></li>
        <li><a href="baixados.html">Baixados</a></li>
        <li><a href="assistir.html" >vizualizar</a></li>
        <li><a href="login.html">Sair</a></li>
     </ul>


    </div>
  <div class="body">
    <div class="info">
        <p>Começa em conhecer a nossa Equipa de Densenvolvimento WEB :DEV-WEB</p><br>
        <img src="../assets/img/icon-team.png" alt=""><br>
        <div class="detalhes">
            <h2>NOSSOS DESENVOLVIDORES</h2>

        </div>
    </div>
    <div class="formatos">
        <table>
            <thead>
                <th>Nome</th>
                <th>Nascimeto</th>
                <th>Telefone</th>
                <th>Curso</th>
                <th>Função</th>
            </thead>
     
        <tbody>
            <tr>
                <td>Augusto Firmino</td>
                <td>05-01-2005</td>
                <td>950554919</td>
                <td>Técnico de Informática</td>
                <td>Back-End</td>

            </tr>
            <tr>
                <td>João Manuel</td>
                <td>12-11-2004</td>
                <td>924807921</td>
                <td>Técnico de Informática</td>
                <td>Front-End</td>

            </tr>
            <tr>
                <td>Edmilson Cristovão</td>
                <td>05-05-2003</td>
                <td>923678912</td>
                <td>Técnico de Informática</td>
                <td>Full-Staik</td>

            </tr>
        
    
        </tbody>
    </table>
  
    </div>
    <div class="servicos">
        <h2>NOSSOS SERVIÇOS</h2>
        <div class="itens">
            <div class="item">
                <h2>Densenvolvimento de WEB</h2>
                <p>Criamos todos tipos de Aplicações web para clientes individuais e de empresas públicas ou privadas com melhores  tecnologias abrangentes no mercado.</p>
            </div>
            <div class="item">
                <h2>CONSULTÓRIO</h2>
                <p>Temos para si consultoria de desenvolvimento para sua Empresa.</p>
            </div>
        </div>
    </div>
   <div class="criacao">
     <h2>WEBSITE QUE NÓS CRIAMOS</h2>
     <ul>
        <li> <a href="download.html">Download</a></li>
        <li><a href="../../../../../access/index.html">Acess</a></li>
     
     </ul>
   </div>

    <div class="contactos">
        <h2>NOSSOS CONTACTOS</h2>
        <ol>
            <li>950554919</li>
            <li>924761923</li>
            <li>925341890</li>
        </ol>
    </div>
    <div class="header">
        <p>Todos Direitos Reservados pela DEV-WEB 2024</p>
    </div>
  </div>
</body>
</html>