<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/admin.css">
    <title>Download</title>
</head>
<body>
    
    <div class="formulario">
        <h3>Download</h3>
     <ul>
        <li><a href="admin.html" class="btn-active">Home</a></li>
        <li><a href="clientes.html">Clientes</a></li>
        <li><a href="formatos.html">Formatos</a></li>
        <li><a href="desenvolvedores.html ">Desenvolvedores</a></li>
        <li><a href="medias.html" >Medias</a></li>

     </ul>


    </div>
  <div class="body">
     
   
  <div class="adminstrador">
    <h3>PAPEL DO ADMINISTRADOR</h3>
    <p>Gerencie  dados do sistemas apartir da navegação superior  tendo opcoes para clientes, formatos, denvolvedores e outros pendentes fornecidos por você.</p>
  </div>

    <div class="header">
        <p>Todos Direitos Reservados pela DEV-WEB 2024</p>
    </div>
  </div>

 
</body>
</html>